.aboutNavBar{
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toDoLogo{
    color: white;
    padding: 1rem;
    text-decoration: none;
}
.navLink{
    color: white;
    text-decoration: none;
    padding: 4px;
}
.navLink:hover{
    color: #555555;
}
.navLinkIcon{
    font-size: 24px;
}
.logOut{
    color: white;
    text-decoration: none;
    padding: 4px;
}
