.registerForm {
    border: solid 1px;
    border-radius: 8px;
    border-color: white;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    border-radius: 4px;
    border: 2px solid #555555;
    font-size: 16px;
}
input:hover{
    border: 2px solid var(--primary-color);
}
input:invalid{
    border: 2px solid red;
}
button{
    color: white;
    background-color: var(--primary-color);
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 8px 0;
    font-size: 16px;
}
button:hover{
    color: #dfe0de;
    background-color: var(--primary-color);
}
button:active{
    transform: translateY(2px);
}
.link{
    color: #555555;
}
.link:hover{
    color: var(--primary-color);
}