.listUpdateEditIcon:hover{
    color: var(--primary-color);
}
.listUpdateEditIcon{
    color: #555555;
}
.todoAddIcon{
    color: #555555;
}
.todoAddIcon:hover{
    color: var(--primary-color);
}
.listDeleteIcon{
    color: #555555;
}
.listDeleteIcon:hover{
    color: firebrick
}
.listDescription{
    border: 2px solid #eaeaea;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}
.todoDone{
    color: white;
}